# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.vite/

# Env och hemligheter
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.local
